.codemine_zilo {
    margin: 1.25rem 0 1.875rem;
}

.codemine_zUl {
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
    margin-bottom: 1.25rem;
    overflow: hidden;
}

.codemine_zuli {
    height: 3.71875rem;
    line-height: 3.71875rem;
    padding: 0 0.9375rem;
    border-bottom: 1px solid #e5e5e5;
}

.codemine_leftsp {
    display: inline-block;
    width: 4.375rem;
    text-align: left;
}

.codemine_rightip {
    display: inline-block;
    color: #888;
    font-size: 1.0rem;
    margin-left: 1.5625rem;
}

.codebottom_bdiv {
    width: 100%;
    text-align: center;
    padding: 0 0.625rem;
    box-sizing: border-box;
}

.codebottom_btn {
    display: inline-block;
    color: #fff;
    width: 100%;
    height: 3.75rem;
    line-height: 3.75rem;
    text-align: center;
    text-decoration: underline;
    background-color: #fe6568;
    border-radius: 0.625rem;
    margin-top: 0.625rem;
}

.codeBtn02 {
    background-color: #24cbd1;
}