.mine_zilo {
    margin-top: 1.25rem;
}

.mine_zUl {
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
    overflow: hidden;
}

.mine_zuli {
    height: 3.71875rem;
    line-height: 3.71875rem;
    padding: 0 0.9375rem;
    border-bottom: 1px solid #e5e5e5;
}

.mine_leftsp {
    display: inline-block;
    width: 4.375rem;
    text-align: left;
}

.mine_rightip {
    display: inline-block;
    color: #888;
    font-size: 1.0rem;
    height: 1.8125rem;
    margin-left: 1.5625rem;
}