body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u82_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:813px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:813px;
}
#u83 {
  position:absolute;
  left:2px;
  top:398px;
  width:1196px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u85_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:91px;
  background:inherit;
  background-color:rgba(46, 48, 50, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u85 {
  position:absolute;
  left:0px;
  top:722px;
  width:1200px;
  height:91px;
}
#u86 {
  position:absolute;
  left:2px;
  top:38px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_div {
  position:absolute;
  left:0px;
  top:0px;
  width:899px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u87 {
  position:absolute;
  left:145px;
  top:756px;
  width:899px;
  height:16px;
  color:#FFFFFF;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:899px;
  white-space:nowrap;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:17px;
}
#u89 {
  position:absolute;
  left:214px;
  top:750px;
  width:12px;
  height:17px;
}
#u90 {
  position:absolute;
  left:2px;
  top:0px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:26px;
}
#u91 {
  position:absolute;
  left:581px;
  top:745px;
  width:25px;
  height:26px;
}
#u92 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:29px;
}
#u93 {
  position:absolute;
  left:1046px;
  top:742px;
  width:26px;
  height:29px;
}
#u94 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_div {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u95 {
  position:absolute;
  left:370px;
  top:784px;
  width:456px;
  height:16px;
  color:#FFFFFF;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  white-space:nowrap;
}
#u97_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u97 {
  position:absolute;
  left:507px;
  top:108px;
  width:127px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u99_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u99 {
  position:absolute;
  left:501px;
  top:259px;
  width:149px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u101 {
  position:absolute;
  left:444px;
  top:604px;
  width:300px;
  height:38px;
}
#u102 {
  position:absolute;
  left:2px;
  top:11px;
  width:296px;
  word-wrap:break-word;
}
