/* 弹窗 */
.tan1{
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
    display: none;
}
.window1{
    width: 16.90625rem;
    /* height: 26.375rem; */
    height: 25.3125rem;
    text-align: center;
    background: url('../image/window1.png') 0 0 no-repeat;
    background-size: 16.90625rem 25.3125rem;
    /*margin: 0 auto;*/
    position: absolute;
    left:10%;
    right:40%;
    top:-2px;
    /*//bottom:*/
    z-index: 100;
    display: none;
}
.windowClose{
    display: inline-block;
    width: 0.75rem;
    height: 0.75rem;
    background: url('../image/close.png') center no-repeat;
    background-size: 0.75rem 0.75rem;
    position: absolute;
    top: 13rem;
    right: 1rem;
}
.win_neir{
    color: #444;
    font-size: 1.0625rem;
    width: 84%;
    position: absolute;
    top: 17.25rem;
    left: 2.5625rem;
}
.neir_duo{
    top: 16rem;
}
.neir_ptxt{
    color: #ff6c00;
    font-size: 1.105rem;
    font-weight: bold;
}
.neir_ptxt span{
    display: inline-block;
    color: #ff6c00;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.625rem;
}
span.neir_span{
    margin: 0.625rem 0 0 0;
}
span.ptxt_span{
    margin: 0 0.3125rem;
}
.neir_ptiX{
    color: #888;
    font-size: 0.8125rem;
    margin-top: 0.625rem;
}
.neir_ptiX input{
    -webkit-appearance: checkbox !important;
    appearance: checkbox !important;
    vertical-align: middle;
    margin-right: 0.15625rem;
}
.neir_pBtn{
    display: inline-block;
    width: 7.0625rem;
    height: 1.875rem;
    background-color: #ffde24;
    border-radius: 0.3125rem;
    margin: 1.875rem auto 0;
}
.koudou_win{
    top: 16.25rem;
}
.kou_dou{
    margin: 1.475rem auto 0;
}
.p_btn{
    display: inline-block;
    font-size: 1.0rem;
    font-weight: bold;
    width: 7.0625rem;
    height: 1.875rem;
    line-height: 1.875rem;
    text-align: center;
    background:-webkit-linear-gradient(top,#bc8c07,#6d2f00);
    -webkit-background-clip:text;
    color:transparent;
}
.neir_pBtn2{
    display: inline-block;
}
.p_buyka{
    display: inline-block;
    color: #39b4fa;
    font-size: 0.8125rem;
    font-weight: bold;
    margin-left: 0.625rem;
    height: 1.875rem;
    line-height: 1.875rem;
}

/*!*@Author: zhaoxq*!*/
.mine_baodiv{
    margin-top: 1.25rem;
}
.mine_zuli{
    display: block;
    color: #444;
    min-height: 3.71875rem;
    line-height: 3.71875rem;
    padding: 0 1.25rem 0 0;
    margin-bottom: 0.625rem;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff;
}
.mine_img1{
    width: 1.125rem;
    height: 4.75rem;
    vertical-align: top;
    margin-right: 0.625rem;
}
.mine_img2{
    float: right;
    width: 1.125rem;
    height: 0.8125rem;
    vertical-align: top;
    margin-top: 2.0rem;
     display: none;
}
.mine_img2.cur{
    display: block;
}
.mine_leftdiv{
    display: inline-block;
    line-height: 1.25rem;
    padding-top: 1rem;
}
.mine_leftsp{
    display: inline-block;
    color: #444;
    font-size: 1.0625rem;
    text-align: left;
}
.uli_span{
    display: block;
    color: #ff8067;
    font-size: 0.9375rem;
}
.uli_spani{
    margin: 0 0.3125rem;
}

.mine_liname{
    color: #444;
    min-height: 3.71875rem;
    line-height: 3.71875rem;
    padding: 0 1.25rem;
    margin-bottom: 0.625rem;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff;
}
.mine_zhaunc{
    color: #888;
    font-size: 0.9375rem;
    margin-bottom: 0.625rem;
}
.mine_zhauncIn{
    color: #444;
    font-size: 1.0rem;
    height: 2.25rem;
    line-height: 2.25rem;
}
.zhaunc_btn{
    padding: 0 1.25rem;
    margin-top: 4.375rem;
}
.zhaunc_a{
    display: inline-block;
    color: #fff;
    width: 100%;
    height: 3.75rem;
    line-height: 3.75rem;
    text-align: center;
    background-color: #ff8067;
    border-radius: 0.3125rem;
}

.turnOut_note{
    color: #ccc;
    font-size: 0.9375rem;
    font-family: "苹方";
    padding: 0 1.25rem;
}
.note_number{
    margin: 0 0.3125rem;
}
/*
!*@Author: zhaoxq*!
.charge-explain{
    background-color: #ff8067;
    text-align: center;
    color: #fff;
    font-size: 0.8125rem;
    padding: 0.4375rem 0.3125rem;
    box-sizing: border-box;
    margin-bottom: 1.0rem;
}
.charge-main{
    padding: 0 0.9375rem;
    margin-bottom: 1.0rem;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff;
}
!*.main_ptxt{
    color: #aaa;
    font-size: 0.8125rem;
    padding: 0.9375rem 0;
}*!
.mine_zuli{
    display: block;
    color: #444;
    min-height: 3.71875rem;
    line-height: 3.71875rem;
    padding: 0 1.25rem 0 0;
    margin-bottom: 1.25rem;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    background: url('../image/rsanjiao.png') 96% center no-repeat;
    background-size: 0.46875rem 0.71875rem;
    background-color: #fff;
}
.mine_zuli img{
    width: 1.125rem;
    height: 4.75rem;
    vertical-align: top;
    margin-right: 0.625rem;
}
.mine_leftdiv{
    display: inline-block;
    line-height: 1.25rem;
    padding-top: 1rem;
}
.mine_leftsp{
    display: inline-block;
    color: #444;
    font-size: 1.0625rem;
    text-align: left;
}
.uli_span{
    display: block;
    color: #ff8067;
    font-size: 0.9375rem;
}
.uli_spani{
    margin: 0 0.3125rem;
}*/

/* charge-area */
.rain-drop-ul{
    overflow: hidden;
}
.rain-drop-li{
    float: left;
    color: #fff;
    font-size: 1.25rem;
    width: 30%;
    height: 3.75rem;
    text-align: center;
    padding-top: 0.46875rem;
    box-sizing: border-box;
    margin: 0 0 0.625rem 0.8125rem;
    background-color: #ffbc3c;
    border-radius: 0.3125rem;
}
.rain-drop-li:first-child{
    margin-left: 0;
}
.rain-drop-li:nth-child(4){
    margin-left: 0;
}
.rain-drop-li.cur{
    background-color: #ff6d00;
}
.rain_lispan{
    font-size: 1.875rem;
    font-weight: bold;
    margin-right: 0.3125rem;
}

.srinput_span{
    display: block;
    color: #444;
    font-size: 1.0rem;
    margin-bottom: 0.3125rem;
}
.srinput_input{
    color: #444;
    font-size: 1.0rem;
    width: 90%;
    height: 3.125rem;
    line-height: 3.125rem;
    padding: 0 0.625rem;
    border: 1px solid #ccc;
    border-radius: 0.3125rem;
}
.count_div{
    color: #ff8067;
    font-size: 0.8125rem;
    text-align: right;
    margin: 0.9375rem 0;
    margin-right: 5%;
}
.count_spani1{
    font-size: 1.125rem;
}
.count_spani2{
    font-size: 1.3125rem;
    font-weight: bold;
}
.count_span{
    color: #aaa;
    font-size: 0.8125rem;
}
.count_spani3{
    margin: 0 0.3125rem;
}

/* pay */
.pay_btn{
    padding: 0 0.9375rem;
}
.wechat-btn,.alipay-btn{
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
    border-radius: 10px;
    padding: 0.53125rem 0;
}
.wechat-btn{
    background-color: #86c610;
}
.alipay-btn{
    background-color: #2595c9;
}
.wechat-span{
    position: relative;
    top: 0.1875rem;
    display: inline-block;
    width: 1.8125rem;
    height: 1.46875rem;
    background: url(../image/weixin.png) no-repeat center;
    -webkit-background-size: 1.8125rem 1.46875rem;
    background-size: 1.8125rem 1.46875rem;
    margin-right: 0.625rem;
}
.alipay-span{
    position: relative;
    top: 0.3125rem;
    display: inline-block;
    width: 1.375rem;
    height: 1.53125rem;
    background: url(../image/alipay.png) no-repeat center;
    -webkit-background-size: 1.375rem 1.53125rem;
    background-size: 1.375rem 1.53125rem;
    margin-right: 0.46875rem;
}