
.user_head_css {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 0.625rem;
    right: 2.5rem;
}

.public_span_css{
    display: inline-block;
    text-align: left;
    width: 6.875rem;
}
.changePassword_interval_width_css{
    width: 5.625rem;
}
.info_interval_width_css{
    width: 4.375rem;
}

.info_input_width_css{
    width: 9rem;
    height: 1.8125rem;
    background-color: transparent;
}

.user_input_css {
    text-align: right;
    position: absolute;
    top: 0.9375rem;
    right: 2.5rem;
}

.public_input_css{
    display: inline-block;
    color: #888;
    font-size: 1.0rem;
    height: 1.8125rem;
    margin-left: 1.5625rem;
}

.firstActiveCard_input_css {
    width: 65%;
    height: 96%;
    font-size: 1.0rem;
    padding: 0 0.3125rem;
    box-sizing: border-box;
    font-family: "苹方";
}

/* 添加新卡 */
.set-input-tel {
    width: 42%;
    height: 3.5rem;
    font-size: 1.0rem;
    padding: 0 0.3125rem;
    box-sizing: border-box;
    font-family: "苹方";
}

.card_button_css {
    display: inline-block;
    color: #fff;
    width: 100%;
    height: 3.75rem;
    line-height: 3.75rem;
    text-align: center;
    text-decoration: underline;
    background-color: #fe6568;
    border-radius: 0.625rem;
    margin-top: 0.625rem;
}
.next-btn{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    float: right;
    display: inline-block;
    width: 0.46875rem;
    height: 0.71875rem;
    background: url(../image/you-btn.png) no-repeat center;
    -webkit-background-size: 0.46875rem 0.71875rem;
    background-size: 0.46875rem 0.71875rem;
}
.card_button_background_css {
    background-color: #24cbd1;
}

.public_li_css{
    height: 3.71875rem;
    line-height: 3.71875rem;
    padding: 0 0.9375rem;
    border-bottom: 1px solid #e5e5e5;
}

.changePassword_li_css{
    box-sizing: border-box;
    font-size: 1.0625rem;
    color: #444;
}
.firstActiveCard_li_css {
    box-sizing: border-box;
    font-size: 1.0625rem;
    color: #444;
}
.user_li_css {
    color: #444;
    display: block;
    position: relative;
    background: url("../image/more.png") no-repeat 96% center;
    background-size: 0.46875rem 0.71875rem;
}

.firstActiveCard_li_css a{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    color: #444;
}

.changePassword_div_css {
    padding-top: 0.625rem;
}

.changePassword_ul_css{
    overflow: hidden;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
}

.public_ul_css {
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
    margin-bottom: 1.25rem;
    overflow: hidden;
}

.btn-box {
    padding: 1.5625rem 0.9375rem 0;
}

.save-btn, .cancel-btn {
    display: block;
    height: 3.75rem;
    line-height: 3.75rem;
    border-radius: 5px;
    text-align: center;
    text-decoration: underline;
    font-size: 1.0625rem;
}

.save-btn {
    background-color: #fe6568;
    color: #fff;
    margin-bottom: 0.53125rem;
}

.cancel-btn {
    background-color: #ccc;
    color: #666;
}

.save-btn:hover, .cancel-btn:hover {
    text-decoration: underline;
}


.send-btn, .sencond-btn, .re-send-btn {
    float: right;
    display: inline-block;
    width: 25%;
    height: 3.625rem;
    font-size: 0.9375rem;
    font-family: "苹方";
    display: none;
    text-align: center;
}

.send-btn.cur, .sencond-btn.cur, .re-send-btn.cur {
    display: inline-block;
}

.send-btn {
    background-color: #24cbd1;
    color: #fff;
}

.sencond-btn {
    background-color: #ccc;
    color: #666;
}

.re-send-btn {
    background-color: #fe6568;
    color: #fff;
}

.changePassword_box_css{
    padding: 1.5625rem 0.9375rem 0;
}
.changePassword_button_css,.changePassword_save_css{
    display: block;
    height: 3.75rem;
    line-height: 3.75rem;
    border-radius: 5px;
    text-align: center;
    text-decoration: underline;
    font-size: 1.0625rem;
}
.changePassword_button_css{
    background-color: #fe6568;
    color: #fff;
    margin-bottom: 0.53125rem;
}
.changePassword_save_css{
    background-color: #ccc;
    color: #666;
}
.changePassword_button_css:hover,.changePassword_save_css:hover{
    text-decoration: underline;
}
.userTou{
    font-family: "苹方";
    font-size: 1.0625rem;
    font-weight: bold;
    color: #000;
    width: 20.125rem;
    height: 5.1875rem;
    line-height: 3.1875rem;
    text-align: center;
    margin: 0 auto 0.625rem;
    padding-top: 0.625rem;
    background: url("../image/pen.png") 0 0.625rem no-repeat;
    background-size: 20.125rem 5.1875rem;
}

.user_liuc{
    width: 100%;
    margin: 0 auto;
}
.daYi{
    font-family: "苹方";
    font-size: 0.9375rem;
    font-weight: bold;
    margin-bottom: 0.3125rem;
}
.daEr{
    font-family: "苹方";
    font-size: 0.9375rem;
}
.daEr_li{
    text-indent: 2em;
    line-height: 1.4rem;
}
/*//===================================================*/
.header{
    width: 100%;
    height: 13.4375rem;
    background: url('../image/login_toubg.png') center no-repeat;
    background-size: 100% 100%;
}
.avatar{
    width: 5.625rem;
    height: 5.625rem;
    text-align: center;
    line-height: 5.625rem;
    border-radius: 50%;
    background-color: #fff1d3;
    opacity: 0.4;
    position: absolute;
    top: 8.29%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.touImg{
    width: 5.625rem;
    height: 5.625rem;
    text-align: center;
    line-height: 5.625rem;
    border-radius: 50%;
    position: absolute;
    top: 8.29%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.avatarImg{
    width: 4.6875rem;
    height: 4.6875rem;
    border-radius: 50%;
    position: absolute;
    top: 0.46875rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.tab_switch{
    width: 100%;
    position: absolute;
    top: 10.785rem;
}
.tab_swli{
    float: left;
    font-size: 1.0625rem;
    width: 49%;
    text-align: center;
}
.tab_mima{
    display: inline-block;
    width: 100%;
    height: 2.125rem;
    line-height: 2.125rem;
    color: #fff;
}
.tab_duanx{
    display: inline-block;
    width: 100%;
    height: 2.125rem;
    line-height: 2.125rem;
    color: #fff;
}
.now_sanjiao{
    display: inline-block;
    width: 1.125rem;
    height: 0.46875rem;
    background: url('../image/login_sanjiao.png') center no-repeat;
    background-size: 100% 100%;
    position: absolute;
    bottom: -0.6rem;
    left: 22%;
    display: none;
}
.sanJer{
    position: absolute;
    left: 71%;
}
.tab_swli.cur .now_sanjiao{
    display: block;
}
.mine_table{
    margin: 1.90625rem 0.9375rem 2.0625rem 0.9375rem;
    display: none;
}
.mine_table.cur{
    display: block;
}
.mine_zUl{
    border: 1px solid #e5e5e5;
    border-bottom: none;
    border-radius: 0.46875rem;
    background-color: #fff;
}
.mine_zuli{
    height: 3.71875rem;
    line-height: 3.71875rem;
    padding-left: 0.9375rem;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
}
.zuli_yzm{
    display: none;
}
.mine_leftsp{
    font-size: 1.0625rem;
    height: 3.6875rem;
    line-height: 3.6875rem;
    padding-right:0.6375rem;
    border-right: 1px solid #eee;
}
.mine_rightip{
    font-size: 1.0625rem;
    width: 9.45rem;
    height: 1.8125rem;
    margin-left: 0.4375rem;
}
.eye{
    display: inline-block;
    width: 1.4375rem;
    height: 1.0rem;
    background: url('../image/login_eye.png') center no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 1.257rem;
    right: 0.3125rem;
}
.yanZma{
    display: inline-block;
    color: #444;
    font-size: 0.8125rem;
    width: 4.625rem;
    height: 1.625rem;
    background: url('../image/yanzm.png') center no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 1rem;
    right: 0.3125rem;
}
.famima{
    display: inline-block;
    color: #fff;
    font-size: 0.9375rem;
    width: 6.25rem;
    height: 2.8125rem;
    line-height: 2.8125rem;
    text-align: center;
    background-color: #ff8067;
    border-radius: 0.46875rem;
    position: absolute;
    top: 0.46875rem;
    right: 0.3125rem;
}
.mine_tishi{
    color: #ff8067;
    font-size: 0.8125rem;
    padding-left: 0.9375rem;
}
.bottom_bdiv{
    width: 100%;
    text-align: center;
}
.bottom_btn{
    display: inline-block;
    color: #fff;
    font-size: 1.125rem;
    width: 95%;
    height: 3.75rem;
    line-height: 3.75rem;
    text-align: center;
    background-color: #ff8067;
    border-radius: 0.625rem;
}
.bottom_txt{
    text-align: center;
    margin: 2.1875rem 0 0.625rem 0;
}
.leftLine{
    color: #aaa;
    margin: 0 0.625rem;
}
.errorTs{
    color: #fff;
    font-size: 0.6375rem;
    height: 0.6375rem;
    line-height: 0.6375rem;
    padding: 0.625rem;
    background-color: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
    position: absolute;
    left: 4.6875rem;
    top: 2.5rem;
    display: none;
}


/*//===========================================================*/
/* @Author: zhaoxq*/
body{
    margin:0;
    padding:0;
}
.goldwrap{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #22c5c7;
}
.goldbgImg{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}
.goldbtm-img{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 62%;
    background: url(../image/ren.png) no-repeat center bottom;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
    text-align: center;
}
.goldbtm-img a{
    position: absolute;
    bottom: 1.4375rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    display: inline-block;
    width: 10.3125rem;
    height: 2.8125rem;
    line-height: 2.8125rem;
    text-align: center;
    border: 1px solid #f8e4ab;
    border-radius: 5px;
    box-sizing: border-box;
    color: #fcfbe4;
    font-size: 1.125rem;
    font-family: "苹方";
    text-decoration: none;
}
.goldcloud2{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 7.3125rem;
    background: url(../image/yun-s.png) no-repeat center top;
    -webkit-background-size: 100% 7.3125rem;
    background-size: 100% 7.3125rem;
    z-index: 9;
}
.goldcloud1{
    width: 100%;
    height: 8.71875rem;
    background: url(../image/yun-x.png) no-repeat center top;
    -webkit-background-size: 100% 9.28125rem;
    background-size: 100% 9.28125rem;
}
.goldblue-bg{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7rem;
    background-color: #22c5c7;
}
.goldwords{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: url(../image/qiqiu.png) no-repeat 90% 6.15625rem;
    -webkit-background-size: 3.34375rem 4.28125rem;
    background-size: 3.34375rem 4.28125rem;
    padding-top: 10.6875rem;
    box-sizing: border-box;
}
.goldtac{
    text-align: center;
}
.goldtac img:first-child{
    width: 9.25rem;
    height: 1.34375rem;
    margin-bottom: 1.0rem;
}
.goldtac_erimg{
    width: 5.71875rem;
    height: 1.34375rem;
    margin-bottom: 1.0rem;
}
.goldtac img:last-child{
    width: 14.28125rem;
    height: 2.75rem;
}
canvas{
    position:absolute;
    top: 3.59375rem;
    left:0;
}