.mine_zilo{
    margin-top: 1.25rem;
}
.mine_zUl{
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
    position: relative;
    overflow: hidden;
}
.mine_zuli{
    height: 3.71875rem;
    line-height: 3.71875rem;
    padding: 0 0.9375rem;
    border-bottom: 1px solid #e5e5e5;
}
.mine_errli{
    background-color: #fff5f5;
    border-top: 1px solid #fe6568;
    border-bottom: 1px solid #fe6568;
}
.mine_leftsp{
    display: inline-block;
    width: 4.375rem;
    text-align: left;
}
.mine_rightip{
    display: inline-block;
    color: #888;
    font-size: 1.0rem;
    width: 9rem;
    height: 1.8125rem;
    margin-left: 1.5625rem;
    background-color: transparent;
}
.mine_yanma{
    display: inline-block;
    color: #fff;
    font-size: 0.9375rem;
    width: 6rem;
    height: 3.765rem;
    text-align: center;
    line-height: 3.6875rem;
    background-color: #fe6568;
    position: absolute;
    top: 7.585rem;
    right: 0;
}