.mine_zilo{
    margin: 1.25rem 0 1.875rem;
}
.mine_zUl{
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
    margin-bottom: 1.25rem;
    overflow: hidden;
}
.mine_zuli{
    height: 3.71875rem;
    line-height: 3.71875rem;
    padding: 0 0.9375rem;
    border-bottom: 1px solid #e5e5e5;
}
.biao_tou{
    background-color: #fffcf2;
    border-bottom: 1px solid #fe6568;
}
.mine_leftsp{
    width: 7.5rem;
    float: left;
}
.mine_rightip{
    float: right;
    width: 6.25rem;
    text-align: left;
}