/*
* @Author: zhaoxq
* @Date:   2016-09-29 14:06:55
* @Last Modified by:   User
* @Last Modified time: 2016-09-30 09:58:59
*/
.inner {
    width: 1200px;
    margin: 0 auto;
}

.error {
    display: block;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    color: #ff0000;
    font-style: normal;
}

input {
    font-family: "Microsoft YaHei";
}

/* logo */
.logo-section {
    height: 93px;
}

.logo {
    float: left;
    width: 84px;
    height: 93px;
    background: url(../images/logo.png) no-repeat left center;
}

.logo-a {
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -999em;
    overflow: hidden;
}

/* copyright */
.copyright {
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    color: #666;
    padding-top: 22px;
}

.copyright img {
    position: relative;
    top: -2px;
    margin-right: 2px;
    vertical-align: middle;
}