/*
* @Author: zhaoxq
* @Date:   2016-09-29 17:26:46
* @Last Modified by:   User
* @Last Modified time: 2016-10-08 11:15:38
*/
body{
	width: 100%;
	height: 100%;
	background: url('../images/account-bg.jpg') repeat;
}
.page-name{
	float: left;
	margin: 33px 0 0 30px;
	padding-left: 22px;
	height: 26px;
	line-height: 26px;
	border-left: 1px solid #ddd;
    font-size: 18px;
}

/* info-content */
.info-content,.flower-content{
	width: 100%;
    min-height: 530px;
	padding: 30px 0 42px;
	background: #fff url('../images/tree.png') no-repeat right bottom;
	border: 1px solid #ddd;
	border-bottom: none;
	overflow: hidden;
}
.perfect-bottom{
	width: 100%;
	height: 6px;
	background: url('../images/perfect-bottom.png') no-repeat center bottom;
}

/* 模拟下拉框 */
.selectDiv {
    display: inline-block;
    min-width: 108px;
    height: 42px;
    background-color: #fff;
    line-height: 42px;
    position: relative;
    font-size: 14px;
    color: #555;
    border: 1px solid #ccc;
}
.mrSelSpan {
    display: inline-block;
    width: 72px;
    height: 100%;
    line-height: 42px;
    padding: 0 5px;
    cursor: default;
    position: relative;
    top: -1px;
}

.myselect {
    width: 112px;
    height: 42px;
    font-size: 14px;
    color: #555;
    -moz-appearance:none;
    border: 1px solid #ccc;
    /*//background: url(../images/bai.png) no-repeat center;*/
}

.sanjiao {
    display: inline-block;
    width: 26px;
    height: 100%;
    background: url('../images/xia.png') no-repeat center;
}
.mrSelSpan, .sanjiao {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
}
.selUl {
    cursor: default;
    min-width: 112px;
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    line-height: 24px;
    background-color: #fff;
    border: 1px solid #ccc;
    position: absolute;
    top: 42px;
    left: -1px;
    display: none;
    z-index: 9;
}
.selLi {
    white-space: nowrap;
    padding: 0 20px 0 5px;
    text-align: left;
}
.juli {
    margin: 0 10px 0 7px;
}

/* info-table */
.info-table{
	margin: 0 0 30px 43px;
	font-size: 14px;
	color: #666;
}
.info-table tr{
	height: 64px;
}
.info-table td:first-child{
	text-align: right;
	padding-right: 10px;
}
.xing{
	color: #ff6600;
}
.info-input{
	width: 390px;
	height: 42px;
	border: 1px solid #ccc;
	line-height: normal;
	line-height: 42px\9;
	padding: 0 10px;
    color: #666;
}
#man,#woman{
    vertical-align: middle;
    margin-right: 2px;
}
.nv-left{
    margin-left: 40px;
}

.btn-box{
    margin-left: 145px;
}
.submit-btn{
	display: inline-block;
    color: #fff;
    font-size: 16px;
    width: 170px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    background-color: #0096dc;
    border-radius: 5px;
}
.error-hou{
    color: #ff0000;
    font-size: 12px;
    font-style: normal;
    margin-left: 10px;
}
.set-account{
    padding-top: 70px;
    background: #fff url('../images/bigtree.png') no-repeat right bottom;
}

/* w完善信息-提交成功 */
.flower-content{
    background: #fff url('../images/flower.png') no-repeat center bottom;
}
.submit-success{
    text-align: center;
    padding-top: 122px;
}
.prosit{
    height: 42px;
    line-height: 42px;
    text-align: center;
    font-size: 18px;
    color: #444;
    margin-bottom: 38px;
}
.prosit img{
    vertical-align: middle;
    margin-right: 18px;
}
.check-info{
    text-align: center;
}
.check-btn{
    display: inline-block;
    width: 170px;
    height: 46px;
    line-height: 46px;
    background-color: #0096dc;
    text-align: center;
    color: #fff;
    font-size: 16px;
    border-radius: 10px;
}

/* W完善信息-提交成功-查看信息 */
.tip{
    float: right;
    font-size: 18px;
    margin-top: 33px;
    height: 26px;
    line-height: 26px;
}
.myinfo-table{
    margin: 36px 0 30px 80px;
    font-size: 14px;
    color: #666;
}
.myinfo-table tr{
    height: 48px;
}
.myinfo-table td:first-child{
    text-align: right;
    padding-right: 10px;
}

/* W完善信息-弹窗 */
.popup{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../images/popup_bg.png') repeat;
    z-index: 9;
    display: none;
}
.not-yet{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -170px;
    margin-left: -215px;
    z-index: 10;
    width: 430px;
    height: 340px;
    background: url('../images/not-yet.png') no-repeat;
    border-radius: 10px;
}
.not-yet-head{
    position: absolute;
    top: -16px;
    width: 100%;
    height: 100px;
    background: url('../images/abc.png') no-repeat 2px 0;
    overflow: hidden;
}
.popup-close{
    position: absolute;
    top: 20px;
    right: 22px;
    display: block;
    width: 20px;
    height: 20px;
    background: url('../images/close-btn.png') no-repeat;
    cursor: pointer;
}
.info-tip{
    text-align: center;
    color: #0096dc;
    font-size: 18px;
    font-weight: bold;
    padding-top: 152px;
    margin-bottom: 74px;
}
.tac{
    text-align: center;
}
.ok-btn{
    display: inline-block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    background-color: #ff9c00;
    border-radius: 15px;
    color: #fff;
    text-align: center;
    font-size: 16px;
}

/* 忘记密码 */
/* 成功 */
.step-uli{
    width: 346px;
    margin: 30px auto 0;
    overflow: hidden;
}
.step-uli li{
    float: left;
}
.step-zi{
    width: 400px;
    height: 20px;
    margin: 10px auto 0;
}
.step-zise{
    float: left;
    color: #ccc;
    margin-left: 15px;
}
.ceng{
    color: #ff9c00;
}
.step-range{
    margin-left: 100px;
}
.step-success{
    padding-top: 50px;
}
.psd-success{
    padding-top: 95px;
}

/* 下一步 */
.next-tab{
    margin: 0 0 40px 395px;
    text-align: left;
}
.next-tab tr{
    color: #666;
    height: 44px;
}
.next-tab td:first-child{
    text-align: right;
    padding-right: 10px;
}
.hei44{
    width: 290px;
    height: 42px;
    line-height: normal;
    line-height: 42px\9;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
    color: #666;
}

/* 忘记密码 */
.wid214{
    float: left;
    width: 214px;
}
.fasBtn{
    float: left;
    position: relative;
    top: 10px;
    left: -1px;
    display: inline-block;
    color: #fff;
    width: 96px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    background-color: #ff9c00;
}
.errorh{
    line-height: 64px;
    color: #ff0000;
    font-size: 12px;
    font-style: normal;
    margin-left: 10px;
}