/*
* @Author: zhaoxq
* @Date:   2016-09-29 14:01:03
* @Last Modified by:   User
* @Last Modified time: 2016-10-08 10:20:34
*/
.welcomes {
    float: right;
    font: bold 18px/93px "Microsoft YaHei";
    color: #0096dc;
}

/* content */
.content, .login-content {
    position: relative;
    height: 600px;
    background: url('../images/index_bg.jpg') no-repeat center;
}

/* activate */
.activate {
    position: absolute;
    top: 50%;
    padding-bottom: 28px;
    width: 450px;
    min-height: 460px;
    background-color: #fff;
    border-radius: 50px;
    overflow: hidden;
}

.activate-title, .login-title {
    height: 60px;
    line-height: 60px;
    background: url('../images/activate-top.png') no-repeat center -1px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.fill-info {
    padding-top: 39px;
}

.fill-table {
    margin: 0 auto 25px;
}

.fill-table tr {
    height: 56px;
}

.fill-table td:first-child {
    font-size: 14px;
    color: #666;
    text-align: right;
    vertical-align: top;
    padding-top: 14px;
}

.card-input, .mobile-input, .login-input, .vertify-input {
    width: 344px;
    height: 42px;
    border: 1px solid #ccc;
    line-height: normal;
    line-height: 42px \9;
    font-size: 12px;
    padding: 0 6px;
    color: #666;
}

.mobile-input {
    width: 245px;

}

.login-input {
    width: 288px;
    font-size: 14px;
}

.fill-error {
    background-color: #fef9e8;
    border-color: #ffdc64;
}

.send-btn, .send-agin {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 96px;
    height: 44px;
    background-color: #ff9c00;
    text-align: center;
    line-height: 44px;
    color: #fff;
    font-size: 14px;

}

.send-agin {
    background-color: #ddd;
    color: #aaa;
    cursor: default;
}

/* activate-btn */
.activate-btn {
    text-align: center;
}

.activate-now, .login-btn {
    display: inline-block;
    width: 390px;
    height: 50px;
    background-color: #0096dc;
    border-radius: 50px;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    margin-bottom: 10px;
}

.activate-login {
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    color: #0096dc;
    background: url('../images/you.png') no-repeat right center;
    padding-right: 14px;
}

.activate-login:hover {
    text-decoration: underline;
}

/* D登录 */
.login-content {
    background: url('../images/login_bg.jpg') no-repeat center;
}

.login-table {
    margin: 0 auto;
}

.login-table tr {
    height: 75px;
}

.login-table tr img {
    vertical-align: middle;
}

.login-table td:first-child {
    font-size: 14px;
    color: #666;
    text-align: right;
    vertical-align: top;
}

.regular-td {
    padding-top: 20px;
}

.first-td {
    padding-top: 13px;
}

.login-title {
    background: url('../images/login-top.png') no-repeat center -1px;
}

.vertify-input {
    width: 78px;
}

.change-one {
    color: #0096dc;
    font-size: 12px;
    margin-left: 5px;
}

.change-one:hover {
    text-decoration: underline;
}

.login-box {
    position: absolute;
    bottom: 28px;
    width: 100%;
    text-align: center;
}

.login-btn {
    background-color: #ff9c00;
}

.forget-psw {
    text-align: right;
}

.forget-btn {
    float: right;
    color: #0096dc;
    text-decoration: underline;
    font-size: 12px;
}

.forget-btn:hover {
    text-decoration: underline;
}
