.select1 {
    width: 110px;
    height: 44px;
    overflow: hidden;
    display: block;

}

.select2 {
    border: 1px solid #000;
    width: 112px;
    display: block;
    height: 42px;
    overflow: hidden;
    float: left;

    background: url(images/icons/10.gif) right top no-repeat 18px 18px;
}

select {
    FONT-SIZE: 13px;
    position: relative;
    left: -2px;
    top: -2px;
    width: 130px;
    height: 44px;
    color: #000;
}