/* @Author:zhaoxq*/
.cpset-main{
	padding-top: 0.625rem;
}
.cpset-ul{
	overflow: hidden;
	background-color: #fff;
	border-top: 1px solid #e5e5e5;
}
.cpset-li{
	height: 3.6875rem;
	line-height: 3.6875rem;
	padding: 0 1.0rem;
	box-sizing: border-box;
	font-size: 1.0625rem;	
	border-bottom: 1px solid #e5e5e5;
	color: #444;
}
.cpset-span{
	display: inline-block;
	width: 5.625rem;
}
.cpset-input{
	width: 65%;
	height: 97%;
	font-size: 1.0rem;
	padding: 0 0.3125rem;
	box-sizing: border-box;
}
.cpbtn-box{
	padding: 1.5625rem 0.9375rem 0;
}
.cpsave-btn,.cancel-btn{
	display: block;
	height: 3.75rem;
	line-height: 3.75rem;
	border-radius: 5px;
	text-align: center;
	text-decoration: underline;
	font-size: 1.0625rem;
}
.cpsave-btn{
	background-color: #fe6568;
	color: #fff;
	margin-bottom: 0.53125rem;
}
.cancel-btn{
	background-color: #ccc;
	color: #666;
}
.cpsave-btn:hover,.cancel-btn:hover{
	text-decoration: underline;
}