/*@Author:zhaoxq*/
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.tim2 {
    text-indent: 2em;
}

table {
    border-collapse: collapse;
}

/* 鑳屾櫙鍥� */
.wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url(../img/zb_bg.jpg) no-repeat center top;
    -webkit-background-size: cover;
    background-size: cover;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    font-family: "鑻规柟", "Microsoft YaHei";
}

/* main */
.rain-main {
    /* padding: 1.25rem 0.9375rem 0; */
    padding: 0.625rem 0.9375rem 0;
    box-sizing: border-box;
}

/* 鍏ㄥ睆瑙嗗睆 */
.video-place {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
}

/* soft-keyboard */
.soft-keyboard {
    width: 100%;
    padding: 0.46875rem 0.625rem;
    background-color: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    overflow: hidden;
    display: none;
}

.barrge {
    width: 3.40625rem;
    height: 1.5625rem;
    border: 1px solid rgba(255, 255, 255, .5);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin-right: 0.40625rem;
}

.barrge-btn {
    position: absolute;
    left: 0;
    width: 65%;
    height: 100%;
    line-height: 1.5625rem;
    background-color: rgba(220, 220, 220, 0.5);
    border-radius: 8px;
    font-size: 0.8125rem;
    color: #fff;
    text-align: center;
}

/* 榛勮壊杈规 */
.main-text {
    position: relative;
    border: 1px solid #ffc500;
    border-radius: 5px;
    box-shadow: 0 0 25px rgba(242, 229, 186, 0.5) inset;
    background-color: #fffcf2;
    padding: 1.96875rem 0.59375rem 1.5625rem;
    box-sizing: border-box;
    margin-bottom: 1.25rem;
}
