/* @Author: zhaoxq*/
body {
    margin: 0;
    padding: 0;
}

.goldwrap {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #22c5c7;
}

.goldbgImg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.goldbtm-img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 62%;
    background: url(../images/ren.png) no-repeat center bottom;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    text-align: center;
}

.goldbtm-img a {
    position: absolute;
    bottom: 1.4375rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    display: inline-block;
    width: 10.3125rem;
    height: 2.8125rem;
    line-height: 2.8125rem;
    text-align: center;
    border: 1px solid #f8e4ab;
    border-radius: 5px;
    box-sizing: border-box;
    color: #fcfbe4;
    font-size: 1.125rem;
    font-family: "苹方";
    text-decoration: none;
}

.goldcloud2 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 7.3125rem;
    background: url(../images/yun-s.png) no-repeat center top;
    -webkit-background-size: 100% 7.3125rem;
    background-size: 100% 7.3125rem;
    z-index: 9;
}

.goldcloud1 {
    width: 100%;
    height: 8.71875rem;
    background: url(../images/yun-x.png) no-repeat center top;
    -webkit-background-size: 100% 9.28125rem;
    background-size: 100% 9.28125rem;
}

.goldblue-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7rem;
    background-color: #22c5c7;
}

.goldwords {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: url(../images/qiqiu.png) no-repeat 90% 6.15625rem;
    -webkit-background-size: 3.34375rem 4.28125rem;
    background-size: 3.34375rem 4.28125rem;
    padding-top: 10.6875rem;
    box-sizing: border-box;
}

.goldtac {
    text-align: center;
}

.goldtac img:first-child {
    width: 9.25rem;
    height: 1.34375rem;
    margin-bottom: 1.0rem;
}

.goldtac img:last-child {
    width: 14.28125rem;
    height: 2.75rem;
}

canvas {
    position: absolute;
    top: 3.59375rem;
    left: 0;
}