.set-input {
    width: 65%;
    height: 97%;
    font-size: 1.0rem;
    padding: 0 0.3125rem;
    box-sizing: border-box;
    font-family: "苹方";
}


.cancel-btn {
    background-color: #ccc;
    color: #666;
}

/* 添加新卡 */
.set-input-tel {
    width: 42%;
    height: 3.5rem;
    font-size: 1.0rem;
    padding: 0 0.3125rem;
    box-sizing: border-box;
    font-family: "苹方";
}

.send-btn, .sencond-btn, .re-send-btn {
    float: right;
    display: inline-block;
    width: 25%;
    height: 3.625rem;
    font-size: 0.9375rem;
    font-family: "苹方";
    display: none;
    text-align: center;
}

.send-btn.cur, .sencond-btn.cur, .re-send-btn.cur {
    display: inline-block;
}

.send-btn {
    background-color: #24cbd1;
    color: #fff;
}

.sencond-btn {
    background-color: #ccc;
    color: #666;
}

.re-send-btn {
    background-color: #fe6568;
    color: #fff;
}
