a {
    color: #444;
}

.volume-title {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 0.3125rem;
    z-index: 2;
}
.vtitle {
    color: #fff;
    font-size: 1.0625rem;
    font-family: "苹方";
    font-weight: bold;
    display: inline-block;
    width: 19.6875rem;
    height: 4.40625rem;
    line-height: 5.8rem;
    text-align: center;
    margin: 0 auto;
}
.vtitle-c {
    background: url('../img/biao_hua.png') 0 0 no-repeat;
    background-size: 19.6875rem 4.40625rem;
}
.vtitle-m {
    background: url('../img/biao_hua1.png') 0 0 no-repeat;
    background-size: 19.6875rem 4.40625rem;
}
.knowledgepoints-bg {
    width: 100%;
    margin: 0 auto;
    border: 1px solid #ffc500;
    box-shadow: inset 0rem 0rem 0.5rem #f2e5ba;
    border-radius: 0.3125rem;
    position: relative;
    top: -1.25rem;
    /*margin-bottom: 0.625rem;*/
    background-color: #fffcf2;
}

.knowledgepoints-list {
    margin-top: 3.4rem;
    margin-bottom: 0.9375rem;
    padding: 0 0.9375rem;
}

.knowledgepoint {
    margin-bottom: 0.625rem;
}

.knowledgepoint-c-img {
    width: 100%;
    height: 0.96875rem;
    margin-top: 0.3125rem;
}
.knowledgepoint-m-img{
    width: 100%;
    height: 0.34375rem;
}

.knowledgepoint-name {
    font-size: 1.0rem;
    font-family: "苹方";
}

.knowledgepoint-right {
    float: right;
    margin-right: 1.5625rem;
}

.knowledgepoint-read {
    color: #aaa;
    font-size: 0.9375rem;
}

.knowledgepoint-like {
    color: #aaa;
    font-size: 0.9375rem;
    margin-left: 0.9375rem;
    padding-left: 0.9375rem;
    background: url('../img/zan.png') 0 0 no-repeat;
    background-size: 0.9375rem 0.9375rem;
}

.read-count {
    margin-left: 0.46875rem;
}

/*挑战百分百的li*/
.knowledgepoint-test {
    margin-bottom: 0.625rem;
    height: 70px;
}
.test {
    color: #fe6568;
    font-weight: bold;
}
/*挑战百分百的最后一个*/
/*.knowledgepoint-test:last-child .connect div, .knowledgepoint-test:last-child .connect span {*/
    /*display: none;*/
/*}*/

/*挑战百分百的div*/
.split_line {
    border-top: 1px solid #ffc500;
    border-bottom: 1px solid #ffc500;
    width: 100%;
    height: 0.3125rem;
    position: relative;
    left: -0.0625rem;
    top: 0.625rem;
    background-color: #f1f1f1;
    box-shadow: 0rem 0rem 0.5rem #f2e5ba;
    z-index: 100;
}

/*挑战百分百*/
.connect {
    z-index: 13;
    left: -0.9375rem;
    bottom: -1.25rem;
    width: 102.25%;
    position: relative;
    height: 0.625rem;
}

.connect-bg {
    display: inline-block;
    width: 0.5rem;
    height: 1.75rem;
    background: url('../img/lianjie.png') 0 0 no-repeat;
    background-size: 0.5rem 1.75rem;

}

.connect-one {
    float: left;
    position: relative;
    left: 1.25rem;
    z-index: 200;
}

.connect-two {
    float: right;
    position: relative;
    right: -17.5rem;
    z-index: 200;
    top: -0.437rem;
}