a {
    color: #444;
}

.head_h3 {
    text-align: center;
    font-size: 1.0625rem;
    font-weight: bold;
    padding-top: 1.5rem;
}

.head_h3_s {
    text-align: center;
    font-size: 1.0625rem;
    font-weight: bold;
    padding-bottom: 0.8rem;
}

.head_himg {
    display: inline-block;
    width: 6.03125rem;
    height: 2.125rem;
    line-height: 2.125rem;
    text-align: center;
    font-weight: normal;
    margin: 0 auto 0.625rem;
    background: url('../img/math1.png') 0 0 no-repeat;
    background-size: 6.03125rem 2.125rem;
}

.daoyu_div {
    margin: 0 auto;
    line-height: 1.875rem;
    padding: 0.3125rem;
    border-radius: 0.625rem;
    background-color: #fffae8;
    overflow: hidden;
}

.daoyu_dquan {
    float: left;
    width: 1.9375rem;
    height: 0.65625rem;
    position: relative;
    top: -0.3125rem;
    z-index: 2;
}

.daoyu_xxku {
    padding: 0.625rem;
    text-indent: 2em;
    border: 1.5px dashed #fae1e1;
    border-radius: 0.625rem;
    background: url('../img/math3.png') right bottom no-repeat;
    background-size: 2.71875rem 2.5625rem;
}

.biti_span {
    display: inline-block;
    font-size: 1.0rem;
    width: 8.96875rem;
    height: 2.9375rem;
    line-height: 2.5rem;
    padding-left: 3.4375rem;
    background: url('../img/been.png') 0 0 no-repeat;
    background-size: 8.96875rem 2.9375rem;
    position: relative;
    top: 0.3125rem;
    z-index: 2;
}

.mulu_div {
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: -1.25rem;
    line-height: 1.875rem;
    padding-top: 1.25rem;
    box-sizing: border-box;
    overflow: hidden;
}

.youKuang {
    color: #064c42;
    padding: 1.5625rem 0.625rem 0.625rem 0.625rem;
    border: 1px solid #ffc500;
    box-shadow: inset 0rem 0rem 0.5rem #f2e5ba;
    border-radius: 0.3125rem;
    background-color: #fffcf2;
}

.math_01 {
    width: 17.78125rem;
    height: 10.8125rem;
    padding-left: 0.625rem;
}

.math_color {
    color: #fe6568;
    text-indent: 2em;
    position: relative;
    top: -1.25rem;
}

/* 最强大脑 */
.biti_chuagun {
    display: inline-block;
    font-size: 1.0rem;
    width: 8.96875rem;
    height: 2.9375rem;
    line-height: 2.85rem;
    padding-left: 3.4375rem;
    background: url('../img/sunshine.png') 0 0 no-repeat;
    background-size: 8.96875rem 2.9375rem;
    position: relative;
    top: 0.625rem;
    z-index: 2;
}

.lixiKu {
    padding: 1.5625rem 0.625rem 0.625rem 0.625rem;
    border: 1px solid #36c4ff;
    box-shadow: inset 0rem 0rem 0.5rem #bae3f2;
    border-radius: 0.3125rem;
    background-color: #f2fdff;
    margin-top: 0.625rem;
    box-sizing: border-box;
}

.lixi_martop {
    padding-top: 0;
    margin-top: 0;
    position: relative;
    top: -2.75rem;
}

.lixi_Nomar {
    padding-top: 0;
}

ul.mld_xiaoUl {
    list-style-type: demical;
}

li.mld_Ulli {
    list-style-position: outside;
    line-height: 2.5rem;
}

.mld_liImg {
    width: 2.1875rem;
    height: 0.9375rem;
    margin-right: 0.46875rem;
    position: relative;
    top: 0.15625rem;
}

.daan_quan {
    display: inline-block;
    width: 1.5625rem;
    height: 1.5625rem;
    line-height: 1.5625rem;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-right: 0.25rem;
}

.daan_error {
    float: left;
    position: relative;
    top: -1.625rem;
    left: 0;
    width: 1.625rem;
    height: 1.625rem;
}

.daan_true {
    float: left;
    position: relative;
    top: -1.625rem;
    left: 0;
    width: 1.625rem;
    height: 1.625rem;
}

.daanLi_error {
    color: #fe6568;
}

.daanLi_true {
    color: #24cbd1;
}

.mld_daanUl {
    overflow: hidden;
}

.mld_daanLi {
    float: left;
    margin-right: 3.75rem;
    position: relative;
}

.muld_images {
    width: 100%;
}

.ul01_flet {
    float: left;
    color: #aaa;
}

.ul01_flet li {
    float: left;
}

.ul01_fli {
    margin-right: 0.9375rem;
}

.ul01_count {
    margin-left: 0.3125rem;
}

.ul01_imgzan {
    width: 1.0625rem;
    height: 1.0625rem;
}

.ul01_riht {
    float: right;
}

.ul01_riht li {
    float: left;
}

.ul01_aBtn {
    color: #24cbd1;
}

.ceshi_ti1 {
    width: 11.96875rem;
    height: 5.03125rem;
}

.ceshi_ti2 {
    width: 12.1875rem;
    height: 3.3125rem;
}

.lian_jie {
    position: relative;
    top: 0;
    z-index: 13;
}

.lianjie {
    display: inline-block;
    position: relative;
    top: -2.0165rem;
    z-index: 13;
    width: 0.5rem;
    height: 1.75rem;
    background: url('../img/lianjie.png') 0 0 no-repeat;
    background-size: 0.5rem 1.75rem;
}

.lianjie01 {
    float: left;
    position: relative;
    left: 2.5rem;
}

.lianjie02 {
    float: right;
    position: relative;
    right: 2.5rem;
}

/* 脑力大PK */
.bdiv_Pk {
    width: 8.375rem;
    margin: 1.875rem auto 0;
}

.naoli_pk {
    width: 8.375rem;
    height: 2.59375rem;
    margin: 0 auto;
}

.zongjie_p {
    color: #fe6568;
    margin-top: 0.625rem;
}

.zongjie_txt {
    color: #444;
    font-size: 0.9375rem;
    font-family: "苹方";
    width: 100%;
    line-height: 1rem;
    min-height: 5.0rem;
    text-indent: 2em;
    padding: 0.625rem 0.3125rem;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* 留言 */
.mulu_bottom {
    width: 100%;
    padding: 0.9375rem;
    background-color: #f1f1f1;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    overflow: hidden;
}

.muluBn_top {
    height: 2.5rem;
    overflow: hidden;
}

.mulu_botBtn {
    color: #24cbd1;
    font-size: 0.9375rem;
    float: right;
    padding-right: 1.25rem;
    background: url('../img/write.png') right center no-repeat;
    background-size: 0.84375rem 0.84375rem;
}

.muluBn_center {
    margin: 1.5625rem 0 0.9375rem;
    overflow: hidden;
}

.liuyan_li {
    float: left;
    margin-left: 0.625rem;
}

.lion_01 {
    width: 16%;
}

.lion_01 img {
    width: 100%;
    text-align: center;
}

.lion_02 {
    width: 78%;
}

.topUl {
    overflow: hidden;
}

.topUl_top {
    width: 100%;
    overflow: hidden;
}

.litop_fleft {
    color: #aaa;
    float: left;
}

.litop_friht {
    color: #aaa;
    float: right;
}

.center {
    font-size: 0.9375rem;
}

.tcmar_top {
    margin-top: 0.3125rem;
}

/* 答案 */
.daana {
    width: 100%;
    min-height: 1.5625rem;
    position: absolute;
    top: 0.46875rem;
    left: 0;
    z-index: -1;
}