.userTou {
    font-family: "苹方";
    font-size: 1.0625rem;
    font-weight: bold;
    color: #000;
    width: 20.125rem;
    height: 5.1875rem;
    line-height: 3.1875rem;
    text-align: center;
    margin: 0 auto 0.625rem;
    padding-top: 0.625rem;
    background: url('../img/pen.png') 0 0.625rem no-repeat;
    background-size: 20.125rem 5.1875rem;
}

.user_liuc {
    width: 100%;
    margin: 0 auto;
}

.daYi {
    font-family: "苹方";
    font-size: 0.9375rem;
    font-weight: bold;
    margin-bottom: 0.3125rem;
}

.daEr {
    font-family: "苹方";
    font-size: 0.9375rem;
}

.daEr_li {
    text-indent: 2em;
    line-height: 1.4rem;
}