/*
* @Author: zhaoxq
* @Date:   2016-12-07 18:22:59
* @Last Modified by:   User
* @Last Modified time: 2016-12-08 16:35:15
*/
html{
	color: #444;
}
/* W我的账号-学习记录 */
.youBackg{
	background-color: #ff8067;
}
.study-record{
	padding: 2.65625rem 0.9375rem 1.75rem;
	box-sizing: border-box;
}
.study_text{
	border-radius: 0 0 0.3125rem 0.3125rem;
	background-color: #fff7e5;
	padding: 1.96875rem 0.59375rem 1.5625rem;
	box-sizing: border-box;
	margin-bottom: 1.25rem;
	position: relative;
}
.chi{
	position: absolute;
	top: -0.3125rem;
	left: 0;
	width: 100%;
	height: 0.3125rem;
	background: url('../images/chi.png') center no-repeat;
	-webkit-background-size: 100% 0.3125rem;
	background-size: 100% 0.3125rem;
}
.abc{
	position: absolute;
	top: -2.40625rem;
	right: -0.4375rem;
	width: 6.09375rem;
	height: 4.65625rem;
	background: url('../images/abc_record.png') center no-repeat;
	-webkit-background-size: 6.09375rem 4.65625rem;
	background-size: 6.09375rem 4.65625rem;
}
.bottomImg{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 8.40625rem;
}
.study-record-ul{
	overflow: hidden;
	padding: 0.625rem 0 6.40625rem 0;
}
.study-record-li{
	width: 100%;
	height: 6.03125rem;
	border-bottom: 1px dashed #f1f1f1;
	background-position: center;
	margin-bottom: 1.5625rem;
	padding: 0.4375rem 0.825rem 6rem 1.5625rem;
	box-sizing: border-box;
	font-size: 1.875rem;
}
a.study_lia{
	display: inline-block;
	width: 100%;
}
.study_lidiv{
	display: inline-block;
}
.srul_size48{
	font-size: 1.5rem;
}
.srul_zbo{
	color: #ff5e92;
}
.srul_kec{
	color: #17aaea;
}
.srul_zan{
	color: #ff9e36;
}
.srul_size42{
	color: #b1b1b1;
	font-size: 1.3125rem;
	font-weight: 100;
}
.you{
	float: right;
	width: 2.1875rem;
	height: 4rem;
}
.srul_zbotu{
	background: url('../images/youjian1.png') center no-repeat;
	background-size: 2.1875rem 2.1875rem;
}
.srul_kectu{
	background: url('../images/youjian2.png') center no-repeat;
	background-size: 2.1875rem 2.1875rem;
}
.srul_zantu{
	background: url('../images/youjian3.png') center no-repeat;
	background-size: 2.1875rem 2.1875rem;
}


/* 我的账号-学习记录-学过的课程 */
.header{
    width: 100%;
    height: 10.59375rem;
    background: url('../images/studyBg.png') center no-repeat;
    background-size: 100% 100%;
}
.header_l,.header_r{
    display: inline-block;
    color: #fff;
    width: 49%;
    text-align: center;
    padding-top: 1.875rem;
}
.header_cen{
    color: #fff;
    font-size: 0.8125rem;
    text-align: center;
    margin-top: 1.5625rem;
}
.header_cen span{
    margin: 0 0.3125rem;
}
.l_one,.r_one{
    font-size: 0.9375rem;
}
.l_two,.r_two{
    font-size: 0.8125rem;
}
.l_twoshu,.r_twoshu{
    font-size: 1.5rem;
}
.tab_div{
    width: 100%;
    margin: 0.625rem 0 1.5625rem;
}
.tab_switch{
    width: 90%;
    margin: 0 auto;
    border: 1px solid #24cbd1;
    border-radius: 0.3125rem;
    overflow: hidden;
}
.tab_swli{
    float: left;
    color: #444;
    font-size: 1.125rem;
    width: 50%;
    height: 2.6875rem;
    line-height: 2.6875rem;
    text-align: center;
    border-right: 1px solid #24cbd1;
    box-sizing: border-box;
}
.tab_swli a{
	display: block;
	width: 100%;
	height: 100%;
	color: #444;
    font-size: 1.125rem;
}
.tab_swlino{
    border-right: none;
}
.tab_swli.active a{
    color: #fff;
    background-color: #24cbd1;
}
.tab_swlispan{
    font-size: 0.9375rem;
}
.mine_zilo{
    width: 100%;
}
.mine_table{
    display: none;
}
.mine_table.active{
    display: block;
}

.all_uli{
    margin-bottom: 1.25rem;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
.uli_divT,.lifen_div{
    padding: 0 0.9375rem 0 0.9375rem;
    box-sizing: border-box;
}
.uli_divT img{
    width: 3.1875rem;
    height: 4.4375rem;
    border: 3px solid #fff;
    border-radius: 0.3125rem;
    box-shadow: 0.5px 0.5px 10px #909090;
    vertical-align: top;
    position: relative;
    top: -0.625rem;
}
.uli_divTdiv{
    display: inline-block;
    width: 77%;
    font-size: 1.0625rem;
    font-weight: bold;
    margin: 0.625rem 0 0 0.5rem;
}
.uli_divTspan{
    display: inline-block;
    color: #aaa;
    font-size: 0.8125rem;
}
.all_lifen{
    padding: 1.09375rem 0;
    border-top: 1px solid #e5e5e5;
}
.biaoti_left{
    display: inline-block;
    width: 70%;
    line-height: 1.125rem;
    font-size: 0.9375rem;
}
.biaoti_right{
    float: right;
    font-size: 0.8125rem;
    vertical-align: middle;
}


/* 我的账号-学习记录-做过的题 */
.mld_xiaoUl {
    border-top: 1px solid #e5e5e5;
    padding: 0.9375rem;
    box-sizing: border-box;
}
li.mld_Ulli {
    list-style-position: outside;
    line-height: 2.5rem;
    position: relative;
}
.mld_tihao {
    vertical-align: top;
}
.mld_timu {
    display: inline-block;
    width: 92%;
}
.mld_liImg {
    width: 2.1875rem;
    height: 0.9375rem;
    margin-right: 0.46875rem;
    position: relative;
    top: 0.08rem;
}
.mld_daanUl {
    overflow: hidden;
}
.daanLi_true {
    color: #24cbd1;
}
.daan_zuo {
    float: left;
    display: inline-block;
}
.daan_quan {
    display: inline-block;
    width: 1.5625rem;
    height: 1.5625rem;
    line-height: 1.5625rem;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-right: 0.25rem;
    box-sizing: border-box;
}
.daanLi_error {
    color: #ff795e;
}
.daan_error, .daan_true {
    width: 1.625rem;
    height: 1.625rem;
    border: none;
}
.daan_error img, .daan_true img {
    float: left;
    position: relative;
    top: -1.625rem;
    left: 0;
}
.daan_you {
    display: inline-block;
    width: 88%;
}
.daan_you input{
	-webkit-appearance: none;
	-moz-appearance: none;
}
.daan_you label{
	max-width: 96%;
	font-weight: normal;
	margin-bottom: 0;
}
