<
<
<
<
<
<
<
HEAD
a {
    color: #444;
}

.head_h3 {
    text-align: center;
    font-size: 1.0625rem;
    font-weight: bold;
    padding: 1.5rem 0 0.8rem;
}

.biti_span {
    display: inline-block;
    font-size: 1.0rem;
    width: 8.96875rem;
    height: 2.9375rem;
    line-height: 2.5rem;
    padding-left: 3.4375rem;
    background: url('../img/been.png') 0 0 no-repeat;
    background-size: 8.96875rem 2.9375rem;
    position: relative;
    top: 0.3125rem;
    z-index: 2;
}

.mulu_div {
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: -1.25rem;
    line-height: 1.875rem;
    padding-top: 1.25rem;
    overflow: hidden;
}

.youKuang {
    color: #064c42;
    padding: 1.5625rem 0.625rem 0.625rem 0.625rem;
    border: 1px solid #ffc500;
    box-shadow: inset 0rem 0rem 0.5rem #f2e5ba;
    border-radius: 0.3125rem;
    background-color: #fffcf2;
    box-sizing: border-box;
}

.mulu_dp {
    text-indent: 2em;
    margin-bottom: 1rem;
}

.mulu_dp span {
    display: block;
    text-align: right;
}

.muld_images {
    width: 100%;
}

/* 闯关练习 */
.biti_chuagun {
    display: inline-block;
    font-size: 1.0rem;
    width: 8.96875rem;
    height: 2.9375rem;
    line-height: 2.85rem;
    padding-left: 3.4375rem;
    background: url('../img/sunshine.png') 0 0 no-repeat;
    background-size: 8.96875rem 2.9375rem;
    position: relative;
    top: 0.3125rem;
    z-index: 2;
}

.lixiKu {
    padding: 1.5625rem 0.625rem 0.625rem 0.625rem;
    border: 1px solid #36c4ff;
    box-shadow: inset 0rem 0rem 0.5rem #bae3f2;
    border-radius: 0.3125rem;
    background-color: #f2fdff;
    box-sizing: border-box;
}

ul.mld_xiaoUl {
    list-style-type: demical;
}

li.mld_Ulli {
    list-style-position: outside;
    line-height: 2.5rem;
    list-style: none;
}

.mld_liImg {
    width: 2.1875rem;
    height: 0.9375rem;
    margin-right: 0.46875rem;
    position: relative;
    top: 0.15625rem;
}

.daan_quan {
    display: inline-block;
    width: 1.5625rem;
    height: 1.5625rem;
    line-height: 1.5625rem;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-right: 0.25rem;
}

.daan_error {
    float: left;
    position: relative;
    top: -1.625rem;
    left: 0;
    width: 1.625rem;
    height: 1.625rem;
}

.daan_true {
    float: left;
    position: relative;
    top: -1.625rem;
    left: 0;
    width: 1.625rem;
    height: 1.625rem;
}

.daanLi_error {
    color: #fe6568;
}

.daanLi_true {
    color: #24cbd1;
}

.mld_daanUl {
    overflow: hidden;
}

.mld_daanLi {
    float: left;
    margin-right: 3.75rem;
    position: relative;
}

.ul01_flet {
    color: #aaa;
    float: left;
}

.ul01_flet li {
    float: left;
}

.ul01_fli {
    margin-right: 0.9375rem;
}

.ul01_count {
    margin-left: 0.3125rem;
}

.ul01_imgzan {
    width: 1.0625rem;
    height: 1.0625rem;
}

.ul01_riht {
    float: right;
}

.ul01_riht li {
    float: left;
}

.ul01_aBtn {
    color: #24cbd1;
}

/* 留言 */
.mulu_bottom {
    width: 100%;
    padding: 0.9375rem;
    background-color: #f1f1f1;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    overflow: hidden;
}

.muluBn_top {
    height: 2.5rem;
    overflow: hidden;
}

.mulu_botBtn {
    color: #24cbd1;
    font-size: 0.9375rem;
    float: right;
    padding-right: 1.25rem;
    background: url('../img/write.png') right center no-repeat;
    background-size: 0.84375rem 0.84375rem;
}

.muluBn_center {
    margin: 1.5625rem 0 0.9375rem;
    overflow: hidden;
}

.liuyan_li {
    float: left;
    margin-left: 0.625rem;
}

.lion_01 {
    width: 16%;
}

.lion_01 img {
    width: 100%;
    text-align: center;
}

.lion_02 {
    width: 78%;
}

.topUl {
    overflow: hidden;
}

.topUl_top {
    width: 100%;
    overflow: hidden;
}

.litop_fleft {
    color: #aaa;
    float: left;
}

.litop_friht {
    color: #aaa;
    float: right;
}

.center {
    font-size: 0.9375rem;
}

.tcmar_top {
    margin-top: 0.3125rem;
}

/* 答案 */
.daana {
    width: 100%;
    min-height: 1.5625rem;
    position: absolute;
    top: 0.46875rem;
    left: 0;
    z-index: -1;
}

=
=
=
=
=
=
=
.bao_dul {
    width: 100%;
    height: 7.8125rem;
    background: url('../img/tree.png') center bottom no-repeat;
    background-size: 19.375rem;
    position: relative;
    z-index: 1;
    margin-bottom: 0.625rem;
}

.table_ul {
    width: 15.375rem;
    margin: 0 auto;
    position: relative;
    top: 1.5625rem;
}

.table_li {
    font-family: "苹方";
    color: #fff;
    float: left;
    font-size: 1.0625rem;
    width: 7.1875rem;
    height: 2.8125rem;
    line-height: 2.8125rem;
    text-align: center;
    background-color: #23cbd1;
    border-radius: 0px 15px 0px 15px;
}

.li_one {
    margin-right: 1rem;
    background-color: #fe6569;
}

.lione_zi {
    color: #fff;
    letter-spacing: 0.3225rem;
}

.lione_zimg {
    display: none;
    width: 2.125rem;
    height: 1.9375rem;
    position: relative;
    top: -4.0625rem;
    left: -3.1875rem;
}

.neir_div0 {
    width: 100%;
    margin: 0 auto;
    margin-top: -0.7rem;
    border: 1px solid #ffc500;
    box-shadow: inset 0rem 0rem 0.5rem #f2e5ba;
    border-radius: 0.3125rem;
    box-sizing: border-box;
    position: relative;
    top: -0.625rem;
    left: 0rem;
}

.div0_one {
    display: none;
}

.div0_two {
    display: none;
}

.neir0_UL {
    padding: 1.5625rem 0.625rem;
    box-sizing: border-box;
}

.neir_li {
    padding: 0.15625rem;
    margin: 0.625rem;
    background-color: #ebfffb;
    border-radius: 1.25rem;
}

.neir_lidiv {
    border: 1.5px dashed #ffc500;
    border-radius: 1.25rem;
}

.neir_pzi {
    color: #444;
    display: inline-block;
    max-width: 14.0625rem;
    padding-left: 2.1875rem;
    font-size: 1.0625rem;
    margin: 0.625rem 1.09375rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: url('../img/flower.png') 0 0.15625rem no-repeat;
    background-size: 1.1875rem 1.125rem;
}

.li2Tu {
    background-color: #fff7eb;
}

.li3Tu {
    background-color: #eaffe3;
}

.li4Tu {
    background-color: #feeded;
}

.rotateX {
    -webkit-transform: perspective(800px) rotateX(60deg);
    -moz-transform: perspective(800px) rotateX(60deg);
    position: absolute;
    left: 30px;
    top: -10px;
    opacity: 0.5;
}

>
>
>
>
>
>
>
43500
dc9a62f29b4070abe57d8e23cc385996845
