.mine_zilo{
    margin: 1.25rem 0 1.875rem;
}
.mine_zUl{
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
    margin-top: 1.25rem;
    overflow: hidden;
}
.mine_zuli{
    color: #444;
    display: block;
    min-height: 3.71875rem;
    line-height: 3.71875rem;
    padding: 0 0.9375rem;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
    background-image: url('../img/rsanjiao.png');
    background-size: 0.46875rem 0.71875rem;
    background-repeat: no-repeat;
    background-position: 96% center;
}
.no_backG{
    background: none;
}
.mine_leftsp{
    display: inline-block;
    text-align: left;
}
.mine_rightip{
    display: inline-block;
    color: #888;
    font-size: 1.0rem;
    margin-left: 0.9375rem;
}
.mine_rightimg{
    width:0.46875rem;
    height: 0.71875rem;
    position: absolute;
    top: 1.765rem;
    right: 0.9375rem;
}
.nomar_botm{
    margin-top: 0;
}
.mine_leftdiv{
    display: inline-block;
    line-height: 1.25rem;
    padding-top: 1rem;
}
.uli_span{
    display: block;
    color: #888;
    font-size: 0.875rem;
}
.ul_jiap{
    color: #aaa;
    font-size: 0.875rem;
    padding: 0 0.9375rem;
}
.bottom_bdiv{
    width: 100%;
    text-align: center;
    padding: 0 0.9375rem;
    box-sizing: border-box;
}
.bottom_btn{
    display: inline-block;
    color: #888;
    width: 100%;
    height: 3.75rem;
    line-height: 3.75rem;
    text-align: center;
    text-decoration: underline;
    background-color: #e5e5e5;
    border-radius: 0.625rem;
    margin-top: 0.625rem;
}