/* @Author:zhaoxq*/
.noPadd {
    padding: 0;
}

.kebiao_tou {
    display: inline-block;
    color: #fff;
    font-size: 0.6875rem;
    font-family: "苹方";
    width: 100%;
    height: 4.84375rem;
    text-align: right;
    background: url('images/bgcar.png') 0 0 no-repeat;
    background-size: 100% 4.84375rem;
    position: absolute;
    z-index: 2;
}

.tou_left {
    display: inline-block;
    width: 9.625rem;
    text-align: center;
    margin-top: 0.46875rem;
}

.left_kebiao {
    font-size: 1.5rem;
    font-weight: bold;
}

.tou_right {
    display: inline-block;
    width: 1.375rem;
    height: 1.375rem;
    background: url('images/right_a.png') 0 0 no-repeat;
    background-size: 100% 100%;
    vertical-align: top;
    margin: 1.40625rem 0.9375rem 0 0;
}

.tab_div {
    width: 100%;
    padding: 5.25rem 0 1rem;
    background-color: #fff;
}

.tab_switch {
    width: 90%;
    margin: 0 auto;
    border: 1px solid #24cbd1;
    border-radius: 0.3125rem;
    overflow: hidden;
}

.tab_swli {
    float: left;
    color: #444;
    font-size: 1.125rem;
    width: 50%;
    height: 2.6875rem;
    line-height: 2.6875rem;
    text-align: center;
    border-right: 1px solid #24cbd1;
}

.tab_swlino {
    border-right: none;
}

.cur {
    color: #fff;
    background-color: #24cbd1;
}

a.tab_toggle {
    color: #444;
    font-family: "苹方 中等";
    display: inline-block;
    width: 100%;
}

li.active > a.tab_toggle {
    color: #fff;
}

.tab_swlispan {
    font-size: 0.9375rem;
}

.all_uli {
    background-color: #fff;
    padding: 0.9375rem;
    margin-bottom: 1.25rem;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    box-sizing: border-box;
}

.all_liplay {
    width: 100%;
    height: 10.0rem;
    background-color: #ffbc3c;
    position: relative;
}

.all_aBtn {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.daibo_ceng {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #39b4fa;
    opacity: 0.4;
    filter: alpha(opacity=50);
    position: absolute;
    z-index: 3;
}

.ceng_yuwen {
    background-color: #ffbc3c;
}

.bofang_time {
    color: #fff;
    font-size: 0.9375rem;
    font-family: "苹方";
    position: absolute;
    left: 5.0rem;
    z-index: 4;
}

.bofang {
    display: inline-block;
    width: 4.59375rem;
    height: 1.375rem;
    background: url('images/zb_one.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    z-index: 4;
}

.daibo {
    background: url('images/zb_two.png') 0 0 no-repeat;
    background-size: 100% 100%;
}

.yuwen_div0 {
    display: inline-block;
    overflow: hidden;
    color: #fff;
    font-size: 0.9375rem;
    font-family: "苹方";
    padding: 0 0.625rem;
    height: 1.375rem;
    line-height: 1.375rem;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 0.3125rem;
    background: url('images/jindou.png') 0 0 repeat-x;
    position: absolute;
    top: 0.3125rem;
    right: 0.3125rem;
    z-index: 4;
}

.yuwen_div2 {
    min-height: 147px;
    background: url('images/yuwen.png') 1.375rem 2.2375rem no-repeat;
    background-size: 4.59375rem 4.59375rem;
    padding-top: 1.2rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.yuwen_h3 {
    color: #fff;
    font-size: 2.625rem;
    font-weight: bold;
    width: 11.2rem;
    /*height: 3.625rem;*/
    margin: 0;
    margin-top: 20px;
    margin-left: 7.0rem;
    text-align: left;
    overflow: hidden;
}

.yuwen_p {
    color: #fff88c;
    font-size: 0.9375rem;
    margin: 0;
    margin-left: 7.0rem;
    text-align: left;
}

.yuwen_a {
    display: inline-block;
    width: 1.4375rem;
    height: 1.4375rem;
    background: url('images/boniu.png') 0 0 no-repeat;
    background-size: 1.4375rem 1.4375rem;
    position: absolute;
    bottom: 0.625rem;
    right: 0.5rem;
    z-index: 4;
}

.yuwen_p2 {
    display: inline-block;
    color: #fff;
    font-size: 0.8125rem;
    position: absolute;
    bottom: 0rem;
    left: 0.5rem;
}

.yuwen_span {
    padding-left: 0.3125rem;
    border-left: 1px solid #fff;
}

.yuwen_riqi {
    font-size: 0.6875rem;
}

.course_xiaqing {
    color: #888;
    font-size: 1.0rem;
}

.course_dianzan {
    line-height: 2.25rem;
}

.xiaq_div {
    padding: 0.5rem 0;
}

.xiaq_div p {
    width: 82%;
    display: inline-block;
}

.course_detail {
    float: right;
    color: #ffbc3c;
    font-size: 1.0rem;
}

.course_detail img {
    width: 0.6875rem;
    height: 0.5rem;
}

.course_detail img:nth-child(2) {
    display: none;
}

.shuxue_play {
    background-color: #39b4fa;
}

.shuxue_div2 {
    background: url('images/shuxue.png') 1.375rem 2.2375rem no-repeat;
    background-size: 4.59375rem 4.59375rem;
}

.shuxue_Btn {
    color: #13a9ff;
}

.yingyu_play {
    background-color: #ff8067;
}

.yingyu_div2 {
    background: url('images/yingyu.png') 1.375rem 2.2375rem no-repeat;
    background-size: 4.59375rem 4.59375rem;
}

.yingyu_Btn {
    color: #ff6d50;
}

@media screen and (max-width: 320px) {
    .yuwen_div2, .shuxue_div2, .yingyu_div2 {
        background-size: 3.0rem 3.0rem;
    }

    .yuwen_h3 {
        font-size: 1.875rem;
        width: 7.75rem;
        height: 2.5rem;
        margin-left: 5.0rem;
    }

    .yuwen_p {
        margin-left: 4.5rem;
    }
}

.nav-tabs > li:nth-child(1).active {
    color: #fff;
    background-color: #24cbd1;
}

.nav-tabs > li:nth-child(2).active {
    color: #fff;
    background-color: #24cbd1;
}

.tab-zhibo {
    display: none;
}

.nei_rong.active > .tab-zhibo {
    display: block;
}

/* 视频信息 */
.course-intro {
    padding: 0 0.625rem;
    box-sizing: border-box;
}

.course-intro-in {
    background-color: #fff;
    padding: 10px 20px 5px;
    box-sizing: border-box;
}

.course-speaker {
    overflow: hidden;
    line-height: 1.4375rem;
    font-size: 0.8125rem;
    color: #888;
}

.course-speaker i {
    color: #ffa230;
}

.course-detail-btn {
    display: block;
    text-align: center;
    color: #ffa230;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.course-detail-btn img {
    width: 10px;
    height: 9px;
}

/* 课程详情介绍 */
.course-detail {
    border-top: 1px dashed #ffd29a;
    padding: 7px 0 35px 0;
    box-sizing: border-box;
    display: none;
}

.keqian_zb {
    color: #ff6c00;
    font-size: 0.9375rem;
    margin-bottom: 0.625rem;
}

.keqian_zb span {
    font-size: 0.8125rem;
}

.sml-tit {
    font-size: 0.9375rem;
    line-height: 1.75rem;
    padding-top: 0.3125rem;
    box-sizing: border-box;
}

.sml-tit img {
    vertical-align: middle;
    position: relative;
    top: -2px;
}

.brief1 img {
    width: 2.0625rem;
    height: 1.375rem;
}

.brief2 img {
    width: 1.65625rem;
    height: 2.09375rem;
}

.brief3 img {
    width: 1.75rem;
    height: 1.5625rem;
}

.course-detail p {
    color: #888;
    font-size: 0.8125rem;
    line-height: 1.40625rem;
    margin-bottom: 0.625rem;
}

/* 往期回放按钮 */
.before_video {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3.4375rem;
    border-top: 2px solid #24cbd1;
    background-color: #fff;
}

.bevid_btn {
    display: inline-block;
    color: #fff;
    font-size: 1.125rem;
    width: 6.8125rem;
    height: 3.4375rem;
    line-height: 3.4375rem;
    text-align: center;
    background-color: #24cbd1;
}

.pullUp {
    display: inline-block;
    font-size: 0.8125rem;
    color: #24cbd1;
    text-align: center;
    margin: 0 0 1.875rem 0.625rem;
}

.pullUpIcon {
    display: inline-block;
    width: 22px;
    height: 14px;
    background: url(images/hand1.png) no-repeat;
    -webkit-background-size: 22px 14px;
    background-size: 22px 14px;
    margin-right: 0.28125rem;
    position: relative;
    top: 2px;
}
@media screen and (max-width: 320px) {
    .bevid_btn{
        font-size: 1.025rem;
        width: 4.5rem;
    }
    .pullUp{
        width: 75%;
    }
}
/* 往期回放 */
.tiao_jian{
    width: 100%;
    height: 3.125rem;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
}
.tiaoj_TJ01,.tiaoj_TJ02,.tiaoj_TJ03,.tiaoj_TJ04{
    display: inline-block;
    color: #888;
    font-size: 0.9375rem;
    width: 23%;
    text-align: center;
    padding-top: 1.0rem;
}
.tiaoj_1span,.tiaoj_2span,.tiaoj_3span,.tiaoj_4span{
    display: inline-block;
    width: 100%;
    height: 1.25rem;
    border-right: 1px solid #ccc;
}
.tiaoj_1span img,.tiaoj_2span img,.tiaoj_3span img,.tiaoj_4span img{
    display: inline-block;
    width:0.90625rem;
    height:0.5rem;
}
.tiaoj_4span{
    border-right: none;
}
.xiala_ul{
    width: 100%;
    overflow-y: auto;
    background-color: #fff;
    padding: 0.75rem;
    text-align: left;
    box-sizing: border-box;
    position: absolute;
    top: 3.175rem;
    left: 0;
    z-index: 10;
    display: none;
}
.xiala_li{
    display: inline-block;
    width: 5.4375rem;
    height: 2.125rem;
    line-height: 2.125rem;
    text-align: center;
    margin: 0.625rem;
    background-color: #f1f1f1;
    border: 1px solid #e5e5e5;
    border-radius: 0.3125rem;
}
.xiala_li.cur{
    border: 1px solid #ff8067;
    position: relative;
}
.xiala_li.cur img{
    width: 1.125rem;
    height: 1.15625rem;
    position: absolute;
    bottom: 0;
    right: 0;
}
.tiaoj_jieG{
    width: 100%;
    background-color: #f1f1f1;
    padding: 0 0.9375rem 0.625rem;
    position: fixed;
    top: 3.125rem;
    left: 0;
    z-index: 100;
}
.jieG_li{
    display: inline-block;
    color: #888;
    font-size: 0.8125rem;
    padding: 0.3125rem 0.375rem;
    margin: 0.625rem 0 0 0;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 0.3125rem;
}
.jieG_licha{
    width: 0.4375rem;
    height: 0.4375rem;
    padding: 0 0 0 0.15625rem;
}

.noPadd{
    padding: 0;
}
.all_uli{
    background-color: #fff;
    padding: 0.9375rem;
    margin-bottom: 1.25rem;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    box-sizing: border-box;
}
.all_liplay{
    width: 100%;
    height: 10.0rem;
    background-color: #ffbc3c;
    position: relative;
}
.all_aBtn{
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}
.yuwen_div0{
    display: inline-block;
    overflow: hidden;
    color: #fff;
    font-size: 0.9375rem;
    padding: 0 0.625rem;
    height: 1.375rem;
    line-height: 1.375rem;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 0.3125rem;
    background: url('../img/jindou.png') 0 0 repeat-x;
    position: absolute;
    top: 0.3125rem;
    left: 0.3125rem;
    z-index: 2;
}
.yuwen_div1{
    float: right;
    color: #ff6c00;
    font-size: 0.9375rem;
    width: 1.5625rem;
    height: 2.65625rem;
    text-align: center;
    background: url('../img/shuqian.png') center no-repeat;
    background-size: 100% 100%;
    padding-top: 0.15625rem;
    position: absolute;
    top: 0.625rem;
    right: 0.625rem;
    z-index: 2;
}
.yuwen_div2{
    background: url('../img/yuwen.png') 1.375rem 2.375rem no-repeat;
    background-size: 4.59375rem 4.59375rem;
    padding-top: 2rem;
    position: absolute;
    top: 0.9375rem;
    left: 0;
    z-index: 2;
}
.yuwen_h3{
    color: #fff;
    font-size: 2.625rem;
    font-weight: bold;
    width: 11.2rem;
    height: 3.625rem;
    margin-left: 7.0rem;
    text-align: left;
    overflow: hidden;
}
.yuwen_p{
    color: #fff88c;
    font-size: 0.9375rem;
    margin-left: 7.0rem;
    padding-left: 0.625rem;
    text-align: left;
}
.yuwen_a{
    display: inline-block;
    width: 1.4375rem;
    height: 1.4375rem;
    background: url('../img/boniu.png') 0 0 no-repeat;
    background-size: 1.4375rem 1.4375rem;
    position: absolute;
    bottom: 0.625rem;
    right: 0.5rem;
}
.yuwen_p2{
    display: inline-block;
    color: #fff;
    font-size: 0.8125rem;
    position: absolute;
    bottom: 0.625rem;
    left: 0.5rem;
}
.yuwen_span{
    padding-left: 0.3125rem;
    border-left: 1px solid #fff;
}
.yuwen_riqi{
    font-size: 0.6875rem;
}
.course_xiaqing{
    color: #888;
    font-size: 1.0rem;
}
.course_dianzan{
    line-height: 2.25rem;
}
.xiaq_div{
    padding: 0.5rem 0;
}
.xiaq_div p{
    width: 82%;
    display: inline-block;
}
.course_detail{
    float: right;
    color: #ffbc3c;
    font-size: 1.0rem;
}
.course_detail img{
    width: 0.6875rem;
    height: 0.5rem;
}
.course_detail img:nth-child(2){
    display: none;
}
.shuxue_play{
    background-color: #39b4fa;
}
.shuxue_div1{
    color: #13a9ff;
}
.shuxue_div2{
    background: url('../img/shuxue.png') 1.375rem 2.375rem no-repeat;
    background-size: 4.59375rem 4.59375rem;
}
.shuxue_Btn{
    color: #13a9ff;
}
.yingyu_play{
    background-color: #ff8067;
}
.yingyu_div1{
    color: #ff6d50;
}
.yingyu_div2{
    background: url('../img/yingyu.png') 1.375rem 2.375rem no-repeat;
    background-size: 4.59375rem 4.59375rem;
}
.yingyu_Btn{
    color: #ff6d50;
}
.bottom_txt{
    color: #aaa;
    font-size: 1.0rem;
    text-align: center;
    margin-bottom: 1.0rem;
}

@media screen and (max-width: 320px) {
    .yuwen_div2,.shuxue_div2,.yingyu_div2{
        background-size: 3.0rem 3.0rem;
    }
    .yuwen_h3{
        font-size: 1.875rem;
        width: 7.75rem;
        height: 2.5rem;
        margin-left: 5.0rem;
    }
    .yuwen_p{
        margin-left: 4.5rem;
    }
}
/* 往期视频详情 */

.nohuifBackg {
    height: 100%;
    background: #f1f1f1;
    overflow: hidden;
}

.nohuifPadd {
    padding: 0;
    height: 100%;
}

.before_uli {
    background-color: #fff;
    margin-bottom: 1.0rem;
}

.before_div1 {
    display: inline-block;
    color: #ff6c00;
    font-size: 0.9375rem;
    font-weight: bold;
    width: 1.25rem;
    height: 3.03125rem;
    text-align: center;
    background: url('../img/shu_qian.png') center no-repeat;
    background-size: 100% 100%;
    margin-left: 0.625rem;
    position: relative;
    z-index: 4;
}

.before_liplay {
    width: 100%;
    height: 10.9375rem;
    background-color: #ffbc3c;
    position: relative;
}

.yuwen_posin {
    top: 1.75rem;
    left: 0.625rem;
}

.course_xqpsee {
    display: inline-block;
    color: #aaa;
    font-size: 0.8125rem;
    padding-left: 1.5625rem;
    background: url('../img/liulan.png') 0 center no-repeat;
    background-size: 1.21875rem 0.84375rem;
}

.course_xqpzan {
    display: inline-block;
    float: right;
    color: #aaa;
    font-size: 0.8125rem;
    padding-left: 1.40625rem;
    background: url('../img/dianzan.png') 0 center no-repeat;
    background-size: 1.125rem 1.0rem;
}

.xqpZan {
    margin-left: 0.3125rem;
}

.zhezao_top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: #000;
    opacity: 0.6;
}

.zz_topbtn {
    position: absolute;
    top: 28%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 3.46875rem;
    height: 3.46875rem;
    background: url('../img/zanting.png') center no-repeat;
    background-size: 100%;
    z-index: 4;
}

.zz_toptxt {
    color: #fff;
    font-size: 1.0rem;
    position: absolute;
    bottom: 25%;
    left: 5%;
    z-index: 4;
}

.zhezao_bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    z-index: 4;
    background-color: #000;
    opacity: 0.3;
}

.zzbottom_div {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    z-index: 5;
}

.zzbom_diva1 {
    position: absolute;
    bottom: 28%;
    left: 2%;
    width: 0.65625rem;
    height: 0.9375rem;
    background: url('../img/xiaozan.png') center no-repeat;
    background-size: 100%;
}

.zzbom_diva2 {
    position: absolute;
    bottom: 25%;
    left: 9%;
    width: 80%;
}

.zzbom_span {
    color: #fff;
    font-size: 0.8125rem;
}

.zzbom_div2p {
    display: inline-block;
    width: 75%;
    height: 0.125rem;
    border-radius: 5%;
    background-color: #fff;
    margin-bottom: 0.15625rem;
    position: relative;
}

.zzbom_div2span {
    display: inline-block;
    position: absolute;
    top: -0.25rem;
    left: 0;
    width: 0.625rem;
    height: 0.625rem;
    background: url('../img/jindutiao.png') center no-repeat;
    background-size: 100%;
}

.zzbom_diva3 {
    position: absolute;
    bottom: 28%;
    right: 2%;
    z-index: 6;
    width: 0.9375rem;
    height: 0.9375rem;
    background: url('../img/bian_big.png') center no-repeat;
    background-size: 100%;
}

.zz_comment {
    height: 56%;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.zz_center {
    margin: 0.625rem 0.9375rem;
    height: 95%;
    overflow: hidden;
}

.zz_plh3 {
    color: #444;
    font-size: 1.125rem;
    padding: 0.5rem 0;
    border-bottom: 1px dashed #f1f1f1;
}

.zz_plul {
    height: 90%;
    overflow-y: auto;
}

.zz_plli {
    color: #444;
    font-size: 0.8125rem;
    padding: 0.9375rem 0 1.1875rem 0;
    border-bottom: 1px dashed #f1f1f1;
}

.zz_lispan1 {
    color: #aaa;
    font-size: 0.9375rem;
    margin-right: 0.625rem;
}

.zz_lispan2 {
    color: #aaa;
    font-size: 0.8125rem;
}

.zz_pllip {
    margin-top: 0.78125rem;
}

.leave_message {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0.625rem 0;
}

.message_text {
    width: 70%;
    height: 2.125rem;
    line-height: 2.1875rem;
    border: 1px solid #ddd;
    border-radius: 0.3125rem;
    padding: 0 0.3125rem;
    margin: 0 0.3125rem 0 0.9375rem;
}

.message_btn {
    float: right;
    margin-right: 0.9375rem;
    color: #fff;
    font-size: 0.9375rem;
    width: 3.125rem;
    height: 2.1875rem;
    line-height: 2.1875rem;
    text-align: center;
    background-color: #ff8067;
    border-radius: 0.3125rem;
}

/*futureNote*/
.futureWrap {
    background: none;
}

.waiting {
    width: 100%;
    height: 100%;
    background: url('../img/backG.png') 0 0 no-repeat;
    background-size: 100% 100%;
}

.goBack {
    display: inline-block;
    width: 8.4%;
    height: 2.4%;
    position: absolute;
    top: 32.5%;
    left: 31.07%;
}